body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  flex-direction: column;
  display: flex;
  min-height: 95vh;
}

.main {
  flex: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

.card {
  width: 45%;
}

h1 {
  font-size: 5rem;
}

span {
  color: rgb(31, 31, 165);
  font-size: 5rem;
  font-weight: bold;
}

footer {
  text-align: right;
  color: midnightblue;
}


.title-image {
  width: 30%;
  height: 20%;
  margin-right: 10%;  
}


@media (max-width: 680px) {
  body {
    flex-direction: column;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }

  .logo {
    width: 40%;
    height: 10%;
    align-self: center;
  }

  h1 {
    text-align: center;
    font-size: 2rem;
  }

  span {
    text-align: center;
    font-size: 2rem;   
  }
}